:root {
  --green: #495E57;
  --yellow: #F4CE14;
  --dark-salmon: #EE9972;
  --light-salmon: #FBDABB;
  --grey: #EDEFFE;
  --slate: #333333;
  --border-radius: 16px;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  height: 150vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--grey);
  text-align: center;
  padding-top: 2em;
}

/* If the window is less than 800px stack the logo and navbar */
@media (max-width: 800px) {
  header {
    flex-direction: column;
  }
}

footer {
  background-color: white;
  text-align: center;
  padding: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Main title */
h1 {
  font-family: 'Markazi Text';
  font-size: 64pt;
  font-weight: bold;
}
/* Subtitle */
h2 {
  font-family: 'Markazi Text';
  font-size: 40pt;
  font-weight: normal;
}
/* Section title */
h3 {
  font-family: 'Karla';
  font-size: 20pt;
  font-weight: bolder;
}
/* Lead or descriptive text */
h4 {
  font-family: 'Karla';
  font-size: 18pt;
  font-weight: normal
}
/* Specials */
h5 {
  font-family: 'Karla';
  font-size: 18pt;
  font-weight: bolder;
}
/* Card title */
h6 {
  font-family: 'Karla';
  font-size: 18pt;
  font-weight: bold;
}

p {
  font-family: 'Karla';
  line-height: 1.5;
  max-width: 65ch;
}

.formInput, button, .react-datepicker {
  font-size: 16pt;
  width: 100%;
  padding: 10px 20px;
  /* margin : 10px; */
  /* box-sizing: border-box; */
  border: none;
  border-radius: var(--border-radius);
  size: lg;
  background-color: var(--grey);
}

.formLabel {
  padding: 5px;
  font-size: 12pt;
  font-family: 'Karla';
  font-weight: bold;
  color: var(--grey)
}

.errorMsg {
  color: var(--dark-salmon);
}

button {
  background-color: var(--yellow)
}

/* Hacking around the datepicker css */
.react-datepicker,
.react-datepicker__time-container,
.react-datepicker__time,
.react-datepicker__time-box,
ul.react-datepicker__time-list {
  border: none !important;
  border-radius: var(--border-radius);
  font-family: 'Karla' !important;
  background-color: var(--grey) !important;
  color: var(--slate) !important;
}
.react-datepicker__triangle {
  display: none !important;
}
.react-datepicker-popper,
.react-datepicker__navigation,
.react-datepicker__header,
.react-datepicker-time__header {
  border-radius: var(--border-radius);

  font-family: 'Karla' !important;
  border-bottom: solid 5px var(--grey) !important;
  background: var(--grey) !important;
  color: var(--slate) !important;
}

.react-datepicker__current-month {
  color: var(--slate) !important;
}

.react-datepicker__day.react-datepicker__day--today {
  border-radius: var(--border-radius) !important;
  border: solid 2px var(--brand) !important;
  background-color: var(--grey) !important;
  color: var(--slate) !important;
  width: 30px;
  height: 30px;
}


li.react-datepicker__time-list-item--selected {
  background-color: var(--slate);
  color: var(--grey);
  font-weight: bold;
}

.react-datepicker__day.react-datepicker__day--selected {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--slate);
  color: var(--grey);
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: var(--slate) !important;
  border-radius: var(--border-radius) !important;
  color: var(--grey) !important;
  font-weight: bold;
}

.react-datepicker__day:hover,
.react-datepicker__day--selected:hover {
  border: none !important;
  border-radius: var(--border-radius) !important;
  background-color: var(--slate) !important;
  color: var(--grey) !important;
}

/* Specific nav styling */
.navbar {
  display: flex;
  margin: 0;
  flex-direction: row;
}
/* If the window is less than 400px stack then also stack the navlinks */
@media (max-width: 400px) {
  .navbar {
    flex-direction: column;
  }
}
.navlink {
  color: var(--slate);
  vertical-align: middle;
  text-decoration: none;
  font-family: 'Karla';
  font-size: 14pt;
  font-weight: bolder;
  padding: 1em;
}

.navlink:hover {
  color: var(--green);
}

/* Specific Hero styling */
/* .hero { */
.hero {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: grey;
  background-blend-mode: multiply;
  flex-direction: column;
  position: relative;
  color: white;
}

#bookingform {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  text-align: center;
  gap: 20px;
  padding: 1em
}
