* {
  box-sizing: border-box;
}

/* Hack around scrollbar color styling */
html {
  scrollbar-color: var(--chakra-colors-grey-700) var(--chakra-colors-grey-50);
  /* scrollbar-width: thin; */
}

/* WebKit and Chromiums */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--chakra-colors-grey-50);
}

::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-grey-700);
  border-radius: 5px;
}

.react-datepicker {
  font-size: 16pt;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  size: lg;
  background-color: var(--chakra-colors-grey-50);
}

/* Hacking around the datepicker css */
.react-datepicker,
.react-datepicker__time,
.react-datepicker__header {
  border: none !important;
  border-radius: var(--border-radius);
  font-family: 'Karla' !important;
  background-color: var(--chakra-colors-grey-50) !important;
  color: var(--chakra-colors-green-700) !important;
}

.react-datepicker__day.react-datepicker__day--selected,
.react-datepicker__day:hover,
.react-datepicker__day--selected:hover,
.react-datepicker__time-list-item:hover,
.react-datepicker__time-list-item--selected:hover,
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: var(--chakra-colors-grey-50) !important;
  border-radius: var(--border-radius) !important;
  color: var(--chakra-colors-green-700) !important;
  font-weight: bold;
}
